@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<div>Below should be displaying two strings: "Hello" and "Goodbye"</div>

<div>
    String 1: @Resources.UIStrings.TestString1
    <br/>
    String 2: @Resources.UIStrings.TestString2
</div>